section.title {
  display: flex;
  justify-content: center;
}

/* Profile animation */

.title__profile__container {
  perspective: 800px;
}

.tittle__profile {
  position: relative;
  width: 368px;
  height: 368px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 0px 8px 8px 8px rgba(245, 245, 252, 0.973);
  border-radius: 50%;
}

.tittle__profile:hover {
  transform: rotateY(180deg);
}

.title__profile--front,
.title__profile--back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.title__profile--front {
  transform: rotateY(0deg);
}

.title__profile--back {
  transform: rotateY(180deg);
  background-color: var(--background-color);
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title__profile--back span {
  font-size: 24px;
  font-weight: bold;
}

/* Profile Animation End*/

.title__container {
  display: flex;
  max-width: calc(75rem);
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  padding: 4em 0;
  gap: 1em;
}

.title__profile--img {
  height: 368px;
  width: 368px;
}

.title__div {
  padding: 1em 0%;
}

.title__bio {
  font-size: 52px;
  margin-bottom: 0.5em;
}

.title__subsection {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.title__network {
  display: flex;
  font-weight: 500;
  gap: 3em;
  padding-top: 1em;
}

/* Tablets */
@media (max-width: 768px) {
  section.title {
    max-width: calc(43em);
    padding: 0;
  }

  .title__container {
    gap: 2rem;
  }

  .tittle__profile {
    height: 146px;
    width: 146px;
  }

  .title__profile--img {
    height: 146px;
    width: 146px;
  }

  .title__bio {
    font-size: 22px;
  }

  .title__subsection {
    font-size: 16px;
    margin-bottom: 0;
  }

  .title__network {
    gap: 4em;
  }

  .title__profile--back span {
    font-size: 14px;
    
  }
}
/*Mobile*/
@media (max-width: 425px) {
  section.title {
    max-width: calc(22em);
  }
  .title__container {
    flex-direction: column;
    align-items: baseline;
    padding: 2em 0;
  }

  .title__div {
    width: 100%;
  }

  .title__network {
    gap: 0.5em;
  }
}
